* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.designer-project-material-dashboard .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

 .designer-project-material-dashboard  .back-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    font-weight: 500;

}
.designer-project-material-dashboard  .back-btn-text-dashboard{
    color: #A3A3A3;
}
.designer-project-material-dashboard  .back-btn-icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    color: #0061A1;
}
.designer-project-material-dashboard  .back-btn-text {
    margin-left: 20px;
}
.designer-project-material-dashboard  .back-btn-text-dashboard {
    color: #A3A3A3;
}
/* /// */



.designer-project-material-dashboard .body{
    background-color: #FFFFFF;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px 25px 10px 25px;
    border-radius: 10px;
}



.designer-project-material-dashboard .project-matrial-details{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    margin-top: 20px;
}




.designer-project-material-dashboard  .project-details {
    border: 1px solid #A3A3A3;
    height: 100px;
    border-radius: 10px;
    margin: 15px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.designer-project-material-dashboard .project-details-span{
    width: 1px;
    height: 80px;
    /* padding: 2px; */
    background-color: #A3A3A3;
    border-radius: 10px;

}

.designer-project-material-dashboard .project-details-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    

}
.project-details-div .title{
    font-weight:normal;
    font-size: small;
    color: #686666;

}

.project-details-div .value{
    font-weight: bold;

}

.new-bom-add{
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    padding: 20px 2px;
}
